html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, img, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  line-height: 1.3;
  transition: all 0.5s ease;
}

h3 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #1d1e35;
  font-weight: 700;
  font-size: 24px;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  color: #4a4b5e;
}

.faq-section {
  background-color: white;
  border-radius: 30px;
  width: 60%;
  min-height: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .decorations {
  overflow: hidden;
  width: 35rem;
  display: flex;
  align-items: center;
  background: url("../images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover;
  background-position: 120% 0%;
}

.container .decorations .girl-with-screen-mobile {
  display: none;
}

.container .decorations img {
  width: 25rem;
  margin: 3rem 0rem 2rem -4rem;
}

.container .questions-answers {
  padding-right: 4rem;
  padding-left: 2rem;
  flex-basis: 60%;
  align-self: center;
}

.accordion {
  display: block;
  width: 100%;
  padding-top: 0.8rem;
  border-bottom: 1px solid #e7e7e9;
  cursor: pointer;
}

.accordion-button {
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  background-color: white;
  padding-left: 0rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  color: #4a4b5e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease;
}

.accordion-button:hover {
  color: #f47c57;
}

.accordion-button::after {
  content: '\25be';
  color: #f47c57;
}

.accordion-button--active {
  font-weight: bold;
}

.accordion-button--active::after {
  content: '\25b4';
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  transition: max-height 0.2s;
}

.accordion-content p {
  color: #787887;
  font-size: 12px;
}

#orange-cube {
  width: 10rem;
  position: fixed;
  transform: translate(-270%, 30%);
}

@media only screen and (max-width: 1206px) {
  body {
    height: 100vh;
    padding: 2px 10px;
    background: linear-gradient(to bottom, #af67e9, #6565e7);
    line-height: 1.3;
    transition: all 0.5s ease;
  }
  #orange-cube {
    display: none;
  }
  .faq-section {
    margin-top: 5rem;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .container .decorations {
    overflow: visible;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    margin-top: -140px;
  }
  .container .decorations .girl-with-screen-mobile {
    display: inline-block;
    flex-basis: 60%;
    margin: 0 2rem 0 0;
    padding: 0;
  }
  .container .decorations .girl-with-screen {
    display: none;
  }
  .container .questions-answers {
    flex-basis: 85%;
    align-self: center;
    justify-self: center;
    padding: 0px;
  }
  .container .questions-answers h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1584px) {
  #orange-cube {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */